<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsaIoUvd6GWDkD2uK57-5NfKbOFYcrofo</string>
	<key>BASE_URL</key>
	<string>https://generativelanguage.googleapis.com/v1beta</string>
	<key>TEXT_MODEL</key>
	<string>gemini-1.5-flash</string>
	<key>IMAGE_MODEL</key>
	<string>gemini-1.5-flash</string>
</dict>
</plist>
